:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --fs-900: 3rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-400: 1rem;

  --fw-400: 400;
  --fw-700: 700;

  --size-400: 1.5rem;
  --size-500: 3rem;
  --size-600: 6rem;

  --clr-neutral-900: hsl(0, 9%, 11%);
  --clr-neutral-200: hsl(36, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-primary-200: hsl(213, 43%, 79%);
  --clr-primary-300: hsl(190, 84%, 50%);
  --clr-primary-400: hsl(217, 100%, 50%);
  --clr-primary-500: hsl(190, 100%, 28%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Gerenal spacing and font reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration-color: rgb(107, 107, 107);
}

a:where(:hover, :focus) {
  text-decoration-color: currentColor;
}

code {
  font-family: monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
  margin-bottom: 10px;
}

p {
  color: #000;
}

h2 {
  color: #000;
}
.hero-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  transition: grid-template-columns 0.5s ease; /* Added transition */
}

.left-side {
  grid-column: 1 / 2;
  /* background-color: #f1f1f1; */
  position: relative;
  z-index: 2;
  padding: 20px;
  transition: transform 0.5s ease; /* Added transition */
}

section {
  
}

.right-side {
  grid-column: 2 / 3;
  /* background-color: white; */
  position: relative;
  z-index: 1;
  /* padding: 20px; */
  transition: transform 0.5s ease; /* Added transition */
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.surface-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.container {
  --max-width: 75rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-space, var(--size-400));
}

.fs-800 {
  font-size: var(--fs-800);
  
}


@media (max-width: 768px) {
  .hero-banner {
    grid-template-columns: 3fr 3fr; /* Update grid-template-columns */
  }

  .left-side {
    text-align-last: left;
    transform: translateX(50%);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    margin: 10px;
    
  }

  .right-side {
    
    transform: translateX(-50%); /* Update transform */
  }

  /*
  
  */
  h1,p {
    color: #ffffff;
    transform: translateX(10%);
    
  }

  img { 
    grid-column: 1/ -1;
    grid-row: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section {
    display: inline-block;
    --max-width: 80%;
    width: min(100% - 2rem, var(--max-width));
   margin: 20px;
  }
}
